.Project {
  background-color: rgba(245, 248, 245, 0.499);
  border-radius: 5px;
  box-shadow: 0 30px 50px rgba(7, 67, 10, 0.17);
}
.Project h2 {
  color: rgba(7, 67, 10, 0.692);
  font-family: "Playfair Display", serif;
  padding-top: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.Project p {
  padding-bottom: 30px;
  padding-top: 30px;
  margin: 0 auto;
}
